.App {
  text-align: center;
}
.d-block{
  display:block;
}
.primary-btn{
  background-color: #ffde33;
  width: 280px;
  height: 65px;
  padding: 5px 10px 10px 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
}

/*Custom Typography*/
 .brand-font-1 {
      font-family: "KnockoutRegular"; /*Knockout68*/
 }
 .brand-font-2 {
  font-family: "KnockoutBold";   /*Knockout69*/
 }
 .brand-font-3 {
  font-family: "KnockoutBlack";  /*Knockout70*/
 }
 .brand-font-4 {
  font-family: "RobotoRegular";   /*Roboto*/
 }
 .primary-text{
  text-shadow: 0 4px 10px rgb(0 0 0 / 25%);
 }
 .uppercase{
  text-transform: uppercase;
 }

 /*Fanduel Colors*/
.text-white{
  color:#ffff;
}
.text-yellow{
  color:#ffdc2e;
}
.text-blue {
  color:#001c55;
}
.text-grey-blue{
  color: #1f385c;
}
.text-sky{
  color:#0078ff;
}









